.App {
  text-align: center;
}

.input-box {
  border: 5px solid rgb(0, 102, 255);
  display: flex;
  justify-content: center;
}
.todo-list {
  border: 5px solid rgb(0, 255, 85);
  display: flex;
  justify-content: center;
}
